<table summary="Device form fields">
  <tr>
    <th><%= p.label(:device_number) %></th>
    <td><%= p.text_field(:device_num) %></td>
  </tr>
  <tr>
    <th><%= p.label(:location) %></th>
    <td><%= p.text_field(:location) %></td>
  </tr>

 
   
</table>