<!DOCTYPE html>
<html>
<head>
  <title>Cms | <%= @page_title || "Admin" %></title>
<link rel="stylesheet" type="text/css" href="/Users/NicksMac/Desktop/hackathon/H2Know/H2Know/app/assets/stylesheets/home.css">
</head>
<body>
	<div id = "header">
	<center><h1>H2Know</h1></center>
	</div>
	<div id = "main">
		<% if !flash[:notice].blank? %>
 		 <div class="notice">
    	<%= flash[:notice] %>
  </div>
<% end %>
		<div id = "content">
			<%= yield %>

		</div>
	</div> 
	<div id = "footer">
		<p id = "copyright">&copy; Nick Perez</p> 
	</div>

</body>
</html>
